* { 
	margin:0px;
	padding:0px; 
}

body {
	background-color: #27292c;
	font-family: 12px "Monaco", Inconsolata, monospace;
}

h1 {
	color: #fff;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
/*	border-right: .7em solid white;
	animation: 
		blink-caret .85s step-end infinite;*/
}

/*@keyframes blink-caret {
	from, to { border-color: transparent; }
	50% { border-color: white; }
}*/

h2 {
	color: #20C20E;
	font-family: 'Press Start 2P', cursive;
	font-size: .75em;
	text-align: center;
	margin-top: 75px;
}

#status, #bet-input {
	color: #20C20E;
	font-family: 'Press Start 2P', cursive;
	font-size: .75em;
}

form {
	text-align: center;
}

#status {
	width: 100px;
}

#name-container {
	margin: 0 auto;
	width: 500px;
}

#input { 
	border: none;
	border-bottom: 2px dashed #20C20E; 
	background: transparent;
	caret-color: #20C20E;
	color: #20C20E;
	font-family: 'Press Start 2P', cursive;
	line-height: 20px;
/*    margin-top:10px;*/ 
/*    padding:5px;*/ 
    width:300px;  
}

input:focus {
	outline: none;
}

button {
	background: transparent;
	border: 2px dashed white;
	display: block;
	height: 50px;
    margin: 0 auto;
    width: 100px;
}

p { 
	line-height: 20px; 
}

div { 
	width:700px; 
	margin-left:auto; 
	margin-right:auto;
}

#content { 
	padding:5px; 
	background: #46494F; 
	border-radius: 5px; 
	color: #20C20E;
	font-family: monaco;
	overflow-y: scroll;
    border: 1px solid #CCC; 
    margin-top: 10px; 
    height: 160px; 
}

